
[custom]

[custom.tab]
description = "The current tab in the tab terminal multiplexer"
command = "tab --starship"
when = "tab --starship"
shell = ["sh"]
format = "[$output]($style) "
style = "bold blue"

[nix_shell]
disabled = false
impure_msg = "[impure](bold purple)"
pure_msg = "[pure shell](bold green)"
format = 'via [â„  $state( \($name\))](bold blue) '
